<!DOCTYPE html>
<html>
<head>
    <title>Card Stack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.75, minimum-scale=0.75, user-scalable=no, target-densityDpi=device-dpi" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Homemade+Apple&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>


    <div class="AllStacks">
        <div class="StackLabel">
            <div class="CardStack">
                <div class="Card" data-src="../!assets/Abstraction.gif"></div>
                <div class="Card" data-src="../!assets/Algo.png"></div>
                <div class="Card" data-src="../!assets/NFTNYCTalkSq.png"></div>
                <div class="Card" data-src="../!assets/id/!CatChurchCompile3.gif"></div>
                <div class="Card" data-src="../!assets/id/8tracksIcons.jpeg"></div>
                <div class="Card" data-src="../!assets/id/8tracksInvestors.jpeg"></div>
                <div class="Card" data-src="../!assets/id/8tracksSketchbooks.jpeg"></div>
                <div class="Card" data-src="../!assets/id/8tracksTape.jpeg"></div>
                <div class="Card" data-src="../!assets/id/8tracksTape3.jpeg"></div>
            </div>
            <div class="StackLabelValue">
                SECTION ONE
            </div>
        </div>
        <div class="StackLabel">
            <div class="CardStack">
                <div class="Card" data-src="../!assets/VideoFiles.png"></div>
                <div class="Card" data-src="../!assets/img/8GangSign.jpeg"></div>
                <div class="Card" data-src="../!assets/Workspace.jpeg"></div>
                <div class="Card" data-src="../!assets/img/101.jpeg"></div>
            </div>
            <div class="StackLabelValue">
                SECTION TWO
            </div>
        </div>
        <div class="StackLabel">
            <div class="CardStack">
                <div class="Card" data-src="../!assets/img/Catintosh.jpeg">
                    <div class="CardInnerContainer">
                        <div class="CardContent">
                            <div class="CardBadge">
                                <div class="BadgeText">
                                    BADGE
                                </div>
                            </div>
                            <div class="CardTitle">
                                Title
                            </div>	
                        </div>
                    </div>
                </div>
                <div class="Card" data-src="../!assets/id/8tracksSketchbooks.jpeg"></div>
                <div class="Card" data-src="../!assets/img/Acid.jpg"></div>
                <div class="Card" data-src="../!assets/img/Alabama.jpg"></div>
                <div class="Card" data-src="../!assets/img/101.jpeg"></div>
                <div class="Card" data-src="../!assets/id/LaborShirt1.jpeg"></div>
                <div class="Card" data-src="../!assets/img/Catintosh.jpeg"></div>
            </div>
            <div class="StackLabelValue">
                SECTION THREE
            </div>        
        </div>
        <div class="StackLabel">
            <div class="CardStack">
                <div class="Card" data-src="../!assets/AWW.v1.png">
                    <div class="CardInnerContainer">
                        <div class="CardContent">
                            <div class="CardBadge">
                                <div class="BadgeText">
                                    LABEL
                                </div>
                            </div>
                            <div class="CardTitle">
                                The title of this content goes here
                            </div>	
                        </div>
                    </div>
                </div>
                <div class="Card" data-src="../!assets/img/101.jpeg">
                    <div class="CardInnerContainer">
                        <div class="CardContent">
                            <div class="CardBadge">
                                <div class="BadgeText">
                                    LABEL
                                </div>
                            </div>
                            <div class="CardTitle">
                                The title of this content goes here
                            </div>	
                        </div>
                    </div>
                </div>
                <div class="Card" data-src="../!assets/CC1.png">
                    <div class="CardInnerContainer">
                        <div class="CardContent">
                            <div class="CardBadge">
                                <div class="BadgeText">
                                    LABEL
                                </div>
                            </div>
                            <div class="CardTitle">
                                The title of this content goes here
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
            <div class="StackLabelValue">
                SECTION FOUR
            </div>
        </div>



    </div>

    <div class="StackBar" id="StackBar">
        <img src="../!assets/Logo2024.png" height="36px">
        <span id="stackBarSectionName">SECTION NAME</span>
        <img src="../!assets/Close.png" height="32px" onclick="collapseExpandedStack()" style="cursor:pointer;">
    </div>


    <div class="gradeFront"></div>
    <div class="gradeBG"></div>
    
    <script src="./CardStack2.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var gradeFront = document.querySelector('.gradeFront');
                gradeFront.style.transition = 'width 500ms, height 500ms';
                gradeFront.style.width = '100%';
                gradeFront.style.height = '100%';
            }, 1250);
        });
    </script>
</body>
</html>