<!DOCTYPE html>
<html>
<head>
    <title>Card Stack</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:aliceblue;
        }
    </style>
</head>
<body>
    <div class="AllStacks">
        <div class="StackLabel">
            <p id="StackLabelValue" style="font-family: Arial, Helvetica, sans-serif;"><b>Section One</b></p>
            <div class="CardStack">
                <div class="Card" style="background-image: url('../!assets/Abstraction.gif'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/Algo.png'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/NFTNYCTalkSq.png'); background-size: cover; background-position: center; overflow: hidden;"></div>
            </div>
            <p id="StackLabelClose" style="font-family: Arial, Helvetica, sans-serif;"><b>CLOSE</b></p>
        </div>
        <div class="StackLabel">
            <p id="StackLabelValue" style="font-family: Arial, Helvetica, sans-serif;"><b>Section Two</b></p>
            <div class="CardStack">
                <div class="Card" style="background-image: url('../!assets/Eddy.webp'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/VideoFiles.png'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/Workspace.jpeg'); background-size: cover; background-position: center; overflow: hidden;"></div>
            </div>
            <p id="StackLabelClose" style="font-family: Arial, Helvetica, sans-serif;"><b>CLOSE</b></p>
        </div>
        <div class="StackLabel">
            <p id="StackLabelValue" style="font-family: Arial, Helvetica, sans-serif;"><b>Section Title</b></p>
            <div class="CardStack">
                <div class="Card" style="background-image: url('../!assets/id/8tracksSketchbooks.jpeg'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/img/Acid.jpg'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/img/101.jpeg'); background-size: cover; background-position: center; overflow: hidden;"></div>
            </div>
            <p id="StackLabelClose" style="font-family: Arial, Helvetica, sans-serif;"><b>CLOSE</b></p>
        </div>
        <div class="StackLabel">
            <p id="StackLabelValue" style="font-family: Arial, Helvetica, sans-serif;"><b>Section Title</b></p>
            <div class="CardStack">
                <div class="Card" style="background-image: url('../!assets/Headliner.gif'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/AWW.v1.png'); background-size: cover; background-position: center; overflow: hidden;"></div>
                <div class="Card" style="background-image: url('../!assets/CC1.png'); background-size: cover; background-position: center; overflow: hidden;"></div>
            </div>
            <p id="StackLabelClose" style="font-family: Arial, Helvetica, sans-serif;"><b>CLOSE</b></p>
        </div>
    </div>

    <script src="./CardStack2.js"></script>
</body>
</html>