<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar Redesign</title>
    <link rel="stylesheet" href="../css/StyleMatters.2021.css">
    <link rel="stylesheet" href="NavBar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Homemade+Apple&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
   
    <div id="navDynamicContainer" class="navDynamicContainer">
        <div class="navBar" id="navBar">
            <div class="navBarSegController" id="navBarSegController">
                <div onclick="openNavInfoView()" id="openNavInfoView" class="openNavInfoView" >
                    <img src="../!assets/Logo2024.png" height="36px" onmouseover="this.src='../!assets/LogoHover.gif'" onmouseout="this.src='../!assets/Logo2024.png'" style="cursor: pointer;">
                </div>
                <a href="index.html" onclick="gtag('event', 'Product Design', {'event_category' : 'Nav Item', 'event_label' : 'View Product Design Portfolio'});">
                    <font class="navBarItem_OnState">📐 WORK</font>
                </a>
                <a href="about.html" onclick="gtag('event', 'About', {'event_category' : 'Nav Item', 'event_label' : 'View About Page'});">
                  <font class="navBarItem">👋 ABOUT</font>
                </a>
                <font class="navBarItem" onclick="openNavChatView()" id="openChatView" class="openChatView">💬 CHAT</font>
                <div onclick="openNavContactView()" id="openNavContactView" class="openNavContactView">
                    <img src="../!assets/Contact.png" height="40px">
                </div>
            </div>
        </div>
        <div class="infoViewContent" id="infoViewContent">
            <div class="viewHeader">
                <font class="viewHeaderText">LAST UPDATE</font>
                <img src="../!assets/Close.png" onclick="closeNavInfoView()" class="closeButton">
            </div>
            <div>
                <img src="../!assets/Logo.gif" height="200px">
            </div>
            <div style="display: flex;flex-direction: row;">
                <p style="font-size:14px;font-weight:400;">
                    <div class="CardBadge" style="background-color:rgba(6, 174, 239, 0.55);align-self:center;">
                        <div class="BadgeText">
                            ⌛ 09.10.2024
                        </div>
                    </div>
                    from
                    <div class="CardBadge" style="background-color:rgba(6, 174, 239, 0.55);align-self:center;">
                        <div class="BadgeText">
                            📍New York, NY
                        </div>
                    </div>
                </p>
            </div>
            <div>
                <button style="width:412px;">VIEW SOURCE ON GITHUB</button>
            </div>
            
        </div>
        <div class="chatViewContent" id="chatViewContent">
            <!--close button-->
            <div class="viewHeader" style="justify-content:flex-end;">
                <img src="../!assets/Close.png" onclick="closeNavChatView()" class="closeButton">
            </div>
            <!--input field-->
            <form class="chatInputContainer" id="chatInputContainer">
                <button type="submit" class="chatSubmit" id="chatSubmit" disabled>
                <img src="../!assets/up.svg" class="chatSubmitIMG" id="chatSubmitIMG">
                </button>
                <input type="text" class="chatInputField" name="defineProblem" id="chatInputField" placeholder="Tell me what you're looking for..." autocomplete="off">
            </form>
            <!--empty state-->
            <div class="chatEmptyState" id="chatEmptyState">
                <div class="chatEmptyStateLogo">
                    <img src="../!assets/LogoHover.gif" height="150px">
                </div>
                <div class="chatEmptyStateText">
                <h1 style="line-height:0%;font-weight:900;">Maximillian AI</h1>
                <p>Tell me what you're looking for <font class="ampersand" style="font-size:18px;">&</font> I'll find the<br> most relevant content from my design portfolio.</p>
                </div>
                <div class="CardBadge" style="background-color:rgba(6, 174, 239, 0.55);align-self:center;">
                    <div class="BadgeText">
                        BETA v1.0
                    </div>
                </div>
            </div>
            <!--populated state-->
            <div class="chatResponseLog" id="chatResponseLog">
                <div class="chatQueryContainer">
                    <div class="chatQuery">
                        <p style="margin:0px;padding:0px;"></p>
                    </div>
                </div>
                <div class="loadingIndicator">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="chatResponseContainer">
                    <div class="chatBlurb">
                        <div class="chatResponseLogoContainer">
                            <img src="../!assets/LogoHover.gif" class="chatResponseLogo">
                        </div>
                        <p style="margin:0px;padding:0px;text-align:left;"></p>
                    </div>
                    <div class="chatCardURL">
                        <a href="https://www.maximillian.nyc" target="_blank">
                            <div class="chatSuggestionCard">
                                <div class="chatCardHeader">
                                    <p class="chatCardHeaderTitle"></p>
                                </div>
                                <div class="chatCardDescription">
                                    <p class="chatCardDescriptionText"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactViewContent" id="contactViewContent">
            <div class="viewHeader">
                <font class="viewHeaderText">CONTACT</font>
                <img src="../!assets/Close.png" onclick="closeNavContactView()" class="closeButton">
            </div>
            <div class="contactViewIconContainer" id="Email">
              <div class="ToolTip" id="ToolTip">
                <div class="ToolTipBadge">
                  <div class="BadgeText">
                    MAX@MXMLLN.COM
                  </div>
                </div>
              </div>
              <a href="mailto:max@mxmlln.com" onclick="gtag('event', 'Click Email Button', { 'event_category' : 'Contact', 'event_label' : 'MAX@MXMLLN.COM'});">
                <img src="../!assets/contact/EmailButton.svg" class="CircleButton" alt="Email" />
              </a>
            </div>
            <div class="contactViewIconContainer" id="X">
              <div class="ToolTip" id="ToolTip">
                <div class="ToolTipBadge">
                  <div class="BadgeText">
                    X / TWITTER
                  </div>
                </div>
              </div>
              <a href="https://twitter.com/MaximillianNYC" target="_blank" onclick="gtag('event', 'Click Twitter Button', { 'event_category' : 'Contact', 'event_label' : 'TWITTER'});">
                <img src="../!assets/contact/TwitterButton.svg" class="CircleButton" alt="Twitter" />
              </a>
            </div>
            <div class="contactViewIconContainer" id="LinkedIn">
                <div class="ToolTip" id="ToolTip">
                    <div class="ToolTipBadge">
                        <div class="BadgeText">
                            LINKEDIN
                        </div>
                    </div>
                </div>
              <a href="https://www.linkedin.com/in/maximilliannyc/" target="_blank" onclick="gtag('event', 'Click LinkedIn Button', { 'event_category' : 'Contact', 'event_label' : 'LinkedIn'});">
                <img src="../!assets/contact/LinkedInButton.svg" class="CircleButton" alt="LinkedIn" />
              </a>
            </div>
        </div>
    </div>



    <div class="navBarOverlay" id="navBarOverlay" onclick="document.getElementById('chatViewContent').style.visibility === 'visible' ? closeNavChatView() : (document.getElementById('contactViewContent').style.visibility === 'visible' ? closeNavContactView() : document.getElementById('infoViewContent').style.visibility === 'visible' ? closeNavInfoView() : null)"></div>

    <script src="NavBar.js"></script>
    <script src="ChatIntelligence.js"></script>

</body>
</html>