button:disabled {
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: black;
}

.navBar {
	position: absolute;
	z-index: 950;
	bottom: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	height: 62px;
	width: 100%;
}

.navBarSegController {
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navBarItem {
	cursor: pointer;
    font-family: 'Sora', sans-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 14px;
	color: #000000;
	padding: 16px;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.navBarItem:hover {
	opacity: 0.5;
}
	
.navBarItem_OnState {
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 14px;
	color: #000000;
	padding: 18px 20px 15px 20px;
	background-color: #ffffff;
	border-radius: 40px;
}

.ampersand {
	display: inline-block;
	font-family: "Playfair Display SC", serif;
	font-weight: 700;
	font-style: italic;
	font-size: 50px;
	padding-right: 2px;
	line-height: 0%;
}

.viewHeader {
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    /*text-transform: uppercase;*/
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(100% - 44px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.viewHeaderText {
    font-family: 'Sora', sans-serif;
	font-weight: 700;
    text-transform: uppercase;
    padding: 8px 8px 8px 4px;
	font-size: 14px;
    letter-spacing: 1.5px;
	color: #000000;
}

.closeButton {
    width: 32px; 
    height: 32px;
    transition: opacity 0.3s ease;
}

.closeButton:hover {
    opacity: 0.3;
}

.bottomFade {
    position: fixed;
    z-index: 898;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25));
}

.navBarOverlay {
    position: fixed;
    visibility: hidden;
    z-index: 899;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 15, 15, 0.7);
    opacity: 0;
    transition: opacity 2s;
    backdrop-filter: blur(30px);
}

.navDynamicContainer {
    position: fixed;
    z-index: 900;
    align-items: center;
    bottom: 24px;
    left: calc(50% - 232px);
    width: 464px;
    height: 64px;
    border-radius: 40px;
	backdrop-filter: blur(80px);
	-webkit-backdrop-filter: blur(80px);
	background-color: rgba(240, 240, 240, 0.75);
	box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, .15);
	border: solid 2px rgba(0, 0, 0, .1);
    transition: display 0.5s, visibility 0.5s;
}

.openNavContactView {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.openNavContactView:hover {
    opacity: 0.5;
}

.infoViewContent {
    position: absolute;
    z-index: 999;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    gap: 16px;
    height: calc(100% - 12px);    
    width: 100%;
    visibility: hidden;
    opacity: 0;
}

.contactViewContent {
    position: absolute;
    z-index: 999;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 40px;
    height: calc(100% + 20px);    
    width: 100%;
    visibility: hidden;
    opacity: 0;
}

.contactViewIconContainer {
	position: relative;
    display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	width: 136px;
}	

.ToolTip {
	position: absolute;
	z-index: 900;
	opacity: 0;
	margin-top: 10px;
	transition: opacity 0.5s, margin 0.5s;
}

.ToolTipBadge {
	align-self: flex-start;
	display: flex;
	height: 15px;
	padding: 10px 10px 10px 12px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, .75);
}

.IconContainer:hover > #ToolTip{
	opacity: 1;	
	margin-top: 0px;
	transition: opacity 0.25s, margin 0.25s;
	transition-delay: 0.3s;
}

.contactViewIconContainer:hover > #ToolTip{
	opacity: 1;	
	margin-top: -15px;
	transition: opacity 0.25s, margin 0.25s;
	transition-delay: 0.3s;
}	

.chatViewContent {
    position: absolute;
    z-index: 999;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
}

.chatInputContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 28px;
    width: calc(100% - 48px);
    max-width: 1000px;
    height: 60px;
}

.chatInputField {
    width: 100%;
    height: 60px;
    border-radius: 16px;
    padding: 0px 24px;
    margin: 0px;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
}

.chatSubmit {
    position: absolute;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30px;
    z-index: 1000;
    border: none;
    background-color: transparent;
}

.chatSubmit:hover {
    background-color: transparent;
}

.chatSubmitIMG {
    height: 32px;
    width: 32px;
    opacity: 0.25;
}

.chatEmptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.chatEmptyStateLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 24px;
    background-color: #F5F5F5;
}

.chatEmptyStateText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.chatResponseLog {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    width: 90%;
    gap: 16px;
    padding-bottom: 80px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s, visibility 0.5s;
}

.chatResponseContainer {
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 16px;
    opacity: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}

.chatQueryContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 600px;
    width: 100%;
    margin-bottom: 24px;
}

.chatQuery {
    background-color: #F5F5F5;
    border-radius: 24px;
    padding: 16px 24px;
}

.chatCardURL {
    width: 100%;
}

.chatSuggestionCard {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 40px;
    padding: 0px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    transition: border 0.5s;
}

.chatSuggestionCard:hover {
    border: 2px solid #06AEEF;
}

.chatResponseLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    background-color: #F5F5F5;
}

.chatResponseLogo {
    height: 30px;
}

.chatBlurb {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.chatCardHeader {
    margin: 40px 40px 8px 40px;
}

.chatCardHeaderTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: left;
}

.chatCardDescription {
    margin: 0px 40px 40px 40px;
}

.chatCardDescriptionText {
    text-align: left;
}

.loadingIndicator {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    opacity: 0;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}