@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@keyframes shrinkCircle {
  0% {
    r: 200vmax;
  }
  100% {
    r: 50px;
  }
}

.animate-shrink-circle {
  animation: shrinkCircle 1s ease-in-out forwards;
}

