@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@keyframes shrinkCircle {
  0% {
    r: 200vmax;
  }
  100% {
    r: 50px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-shrink-circle {
  animation: shrinkCircle 1s ease-in-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out 1s forwards;
  opacity: 0;
}

