@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #f8fafc;
}

html, body {
  background-color: var(--background);
  color: #1e293b;
}

body {
  font-family: var(--font-fraunces), serif;
}

.loading-text {
  background: linear-gradient(90deg, #dddddd, #b2bac8, #dddddd);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Control Bar Styles */
.control-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: 
    linear-gradient(180deg, 
      rgba(223, 233, 242, 0.25) 0%, 
      rgba(180, 195, 216, 0.5) 50%, 
      rgba(180, 195, 216, 0.75) 100%);
  box-shadow: 0 30px 15px 0 rgba(0, 0, 0, 0.01), 0 15px 10px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.03), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
